.first-color {
  background: #f9fcfd;
}

.second-color {
  background: #c9eff9;
}

.third-color {
  background: #07a4b5;
}

.fourth-color {
  background: #fed8a7;
}

body {
  font-family: "Quicksand", sans-serif;
}

h1 {
  color: #07a4b5;
  font-weight: 700;
  font-size: 45px;
  margin: 0 16px;
}

hr {
  color: #07a4b5;
}

a {
  color: #07a4b5;
  text-decoration: none;
}

a:hover {
  color: #0b8c9b;
}

.active {
  font-weight: 700;
}
.active:hover {
  text-decoration: none;
}
.app-box {
  max-width: 600px;
  background: #f9fcfd;
  border: 15px solid #c9eff9;
  border-radius: 8px;
  position: relative;
  top: 50px;
  margin-bottom: 10px;
}

.col-location-change {
  margin: 16px;
}
.current-location {
  border-color: #07a4b5;
  color: #07a4b5;
  font-size: 14px;
  text-align: left;
  margin: 2px;
  width: 97%;
}

.current-location:hover {
  background-color: #07a4b5;
  border-color: #07a4b5;
  color: #f9fcfd;
}

.city-search {
  display: inline;
  font-size: 14px;
  width: 53%;
  margin: 2px;
  margin-left: 0;
}

.change-city {
  font-size: 14px;
  text-align: center;
  background-color: #07a4b5;
  border-color: #07a4b5;
  margin: 2px;
  padding: 6px 0;
  width: 42%;
}

.change-city:hover {
  background-color: #0b8c9b;
  border-color: #0b8c9b;
}
.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

.align-center {
  text-align: center;
}

.icon {
  color: #07a4b5;
  margin: 16px;
}

.temperature {
  color: #07a4b5;
  font-size: 45px;
  margin: 0 16px;
  line-height: 1.2;
}

.units {
  font-size: 45px;
  font-weight: 700;
}

.weather-details {
  margin: 16px;
  margin-bottom: 0;
  font-size: 14px;
}

.weather-recommendation {
  background: #fed8a799;
  border: 2px solid #fed8a7;
  border-radius: 8px;
  text-align: center;
  line-height: 30px;
  margin: 16px;
  margin-bottom: 0;
  padding: 5px 20px;
}

.date-time {
  margin: 16px;
  margin-bottom: 0;
  font-size: 14px;
}

.forecast {
  margin: 16px;
}

.forecast-date {
  font-weight: bold;
}
.forecast-max {
  font-weight: normal;
}

.forecast-min {
  font-weight: lighter;
  opacity: 0.8;
}

.footer {
  text-align: center;
  padding: 75px;
}
